body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.topbar {
    padding: 10px;
    background: #1e293b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background: #111827;
}

video {
    width: 200px;
    border-radius: 12px;
    background: black;
}

.board-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

canvas {
    border-radius: 16px;
}

.mobile-controls {
    display: none;
}

@media(max-width:768px){

    .video-section{
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    video{
        width: 150px;
    }

    .mobile-controls{
        display:flex;
        justify-content:space-around;
        padding:10px;
        background:#1e293b;
    }

    .mobile-controls button{
        font-size:18px;
        padding:10px;
    }
}
