body{
  margin:0;
  display:flex;
  flex-direction:column;
  height:100vh;
  font-family:sans-serif;
}

.top-bar{
  padding:10px;
  background:#111;
  color:white;
}

.main{
  flex:1;
  display:flex;
  overflow:hidden;
}

.video-panel{
  width:30%;
  background:#000;
  padding:5px;
  display:flex;
  flex-direction:column;
  overflow:auto;
}

.video-panel video{
  width:100%;
  margin-bottom:5px;
  border-radius:8px;
}

#videos{
  display:grid;
  gap:5px;
}

.board-panel{
  flex:1;
  background:white;
  position:relative;
}

canvas{
  width:100%;
  height:100%;
  touch-action:none;
}

.controls{
  padding:10px;
  background:#eee;
  text-align:center;
}

/* MOBILE */

@media(max-width:768px){
  .main{
    flex-direction:column;
  }
  .video-panel{
    width:100%;
    height:35%;
  }
  .board-panel{
    height:65%;
  }
}
